.dark-mode-btn {
    order: 1; /* по умолчанию у всех тегов order равен нулю 0, указав тут 1 мы перебросили DarkMode в конец (в самую правую сторону) */
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 51px;
    height: 26px;
    border-radius: 50px;
    background-color: #272727;

}

.dark-mode-btn::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;
    
    display: block;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: var(--white);

    transition: left 0.2s ease-in;
}
.dark-mode-btn--active::before {
    left: 26px;
}

.dark-mode-btn__icon {
    position: relative;
    z-index: 9;
}
