.nav {
    padding: 20px 0;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black-border);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* до этого было space-beetween, убрали из за DarkMode, чтобы он при мобильной веерсии стоял позади */
    column-gap: 30px;
    row-gap: 20px; /* для мобильной версии, чтобы было растояние между ними вертикально */
    flex-wrap: wrap; /* кокрас таки и выстраивает их вертикально для мобильной версии */
}

.logo {
    margin-right: auto; /* до этого такого кода не было, убрали из за DarkMode, указав flex-end все переместилось на право, чтобы убрать лого в левую сторону прописали данный код */
    color: var(--yellow);
    font-size: 24px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.KZ {
    margin: -6px;
    padding-right: 14px;
    padding-left: 15px;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    list-style-type: none; /* убрали маркеры с li */
    padding-left: 0;
}

.nav-list__link {
    color: var(--white);
    text-decoration: none;
    transition: opacity 0.2s ease-out;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active { /* для линии под link */
    position: relative; /* это чтобы он сразу появился под li, а то искали бы по всей страницы */
}

.nav-list__link--active::before { /* для линии под link */
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--blue);
}
